// GRID
$grid-columns: 12;
$grid-max-width: 65em;
$wrapper: 1000px;
$gutter: 1rem;


// TYPOGRAPHY
$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 900;

// COLORS
$white: #ECF0F1;
$light-blue: #3498DB;
$blue: #2980B9;
$dark-blue: #113F63;
$red: #E74C3C;
$default-color: rgb(101, 115, 128);


// BACKGROUND
$background-image: url('../img/background.jpg');