<section id="top">
	<div class="container">
		<header>
			<a href="home">
				EasyContact
			</a>

			<nav class="top-menu">
				<a href="#top">Home</a>
				<a href="#features">Features</a>
				<a href="/authentication" class="login-btn">Sign-up/Login</a>
				<a href=""><img class="lang-btn" src="img/en.png"></a>
				<a href=""><img class="lang-btn" src="img/pt.png"></a>
			</nav>
		</header>

		<section id="hero">
			<div class="hero-left">
				<h1>Store your contacts easily on the cloud.</h1>
				<h2>Access everywhere and stay always connected with your contacts.</h2>
			</div>

			<div class="hero-right">
				<img src="">
			</div>
		</section>
	</div>
</section>

<div id="features" class="container">
	<div class="row">
		<div class="feature-col">
			<img src="">
		</div>
		<div class="feature-col">
			<h1>Create and modify contacts everywhere</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>		
	<div class="row">
		<div class="feature-col">
			<h1>Create and modify contacts everywhere</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div class="feature-col">
			<img src="">
		</div>
	</div>
	<div class="row">
		<div class="feature-col">
			<img src="">
		</div>
		<div class="feature-col">
			<h1>Create and modify contacts everywhere</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>
</div>

<section id="call-action">
	<a href="/authentication">Join Now</a>
</section>

<section id="about">
	<h1>About</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<section id="stack">
	<h1>Made with <span class="heart"></span> and...</h1>
</section>